@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/CerebriSans-Bold.ttf');
  src: url('/fonts/CerebriSans-Bold.woff');
  src: url('/fonts/CerebriSans-Bold.woff2');
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}